.git
.env
**/__pycache__
**/*.pyc
bin
provider
docs
examples
**/*.sqlite*
**/secrets
**/node_modules
*.zip
setup
dist
tests
.sonol-test
!connect
connect/*
!connect/assets
connect/assets/*
!connect/assets/Buzz-VPS-Connect.exe
